.currentThingsContainer {
  margin-top: 5em;
  text-align: center;
  padding-bottom: 1em;
}

.currentThingsContainer h1 {
  font-size: bolder;
  text-decoration: underline;
  margin-bottom: .25em;
  font-size: 5em;
}

.currentThingsSubtitle {
  font-size: 2em;
}

.currentGamesContainer {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background-color: #7cfc0075;
  color: yellow;
  padding: 1em;
}

.currentGamesContainer label {
  cursor: pointer;
}

.currentGamesTitle {
  font-weight: bold;
}

.currentGamesGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.currentLiveContainer {
  align-items: center;
  font-weight: bold;
}

@media only screen and (max-device-width: 700px) {
  .currentThingsContainer h1 {
    font-size: 3em;
  }

  .currentThingsSubtitle {
    font-size: 1.5em;
  }

  .currentLiveContainer iframe {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}