.footerContainer {
  @apply w-full max-w-5xl px-3 py-8 mx-auto overflow-hidden;
}

.footerContainer h3 {
  @apply font-sans text-3xl text-gray-300 uppercase;
}

#main-footer {
  @apply flex flex-col items-start justify-center w-full pt-8 text-white bg-gray-900;
}

#main-footer a {
  @apply text-white;
}

#main-footer p {
  @apply m-0;
}

#main-footer .footer-container {
  @apply grid gap-5 mx-auto lg:grid-cols-3;
}

#main-footer .footer-container > *:last-child {
  @apply flex items-start justify-center;
}

#main-footer .footer-container .list {
  list-style: none;
}

#main-footer .footer-container .list li {
  @apply py-1 font-sans text-xl border-b border-gray-700 ;
}

#main-footer .footer-container .list li a:hover {
  @apply text-indigo-300;
}

#main-footer .footer-container .social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  padding: 0.5rem;
}

#main-footer .footer-container .social .fab:hover {
  @apply text-white bg-indigo-500 border-indigo-200;
}
