.iterationsContainer {
  text-align: center;
  padding-bottom: 1em;
}

.previousBanner {
  width: 100%;
  height: 10em;
  margin-bottom: 1em;
}

.imagesGrid {
@apply grid gap-3 mx-auto mt-6 md:grid-cols-3 max-w-7xl;
}

.imagesGrid a {
  @apply flex items-center justify-center bg-indigo-100;
}

.imagesGrid a:hover {
  filter: none;
  -webkit-filter: grayscale(100%);
}

.imagesGrid a img {
  width: 100%;
  height: 100%;
  filter: gray;
  -webkit-filter: grayscale(0%);
}

@media only screen and (max-device-width:800px) {
  .imagesGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}