.likeButton {
  border-radius: 5em;
  cursor: pointer;
  margin: 1em;
}

.likeImage {
  padding: .5em;
  height: 5em;

}

.liked {
  background-color: #ff3155;
}

.notLiked {
  background-color: #9b9999;
}