/* purgecss start ignore */

.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  right: 15px;
  display: block;
  top: 21px;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}


@screen lg {
  .bm-burger-button {
    width: 30px;
    height: 25px;
    top: 18px;
    opacity: 0.9;
    transition: all 0.5s;
  }

  .logo {
    display: block;
    position: relative;
    top: -8px !important;
    left: 10px !important;
  }
}

.bm-burger-button:hover {
  opacity: 1;
}

.bm-burger-bars {
  @apply h-1 bg-indigo-100 !important;
}

.bm-burger-bars-hover {
  @apply bg-gray-300;
  opacity: 1 !important;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
  z-index: 99;
}

.bm-cross {
  background: #fff;
}


.bm-menu-wrap {
  position: fixed;
  top: 0;
  height: 100%;
  padding: 0;
}

.bm-menu {
  @apply px-3 py-6 bg-indigo-900 shadow-sm;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.9);
  top: 0;
}

.bm-overlay + div {
  padding: 0;
  position: fixed;
  right: 0;
  width: 140px;
  height: 64px;
  top: 0px;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  @apply bg-indigo-800;
}

.bm-overlay + div::before {
  right: 74px;
  position: absolute;
  content: "Menú";
  @apply font-sans text-2xl text-gray-100 uppercase;
}

.bm-burger-button button {
  left: auto!important;
  right: -20px !important;
  width: 134px !important;
  height: 55px !important;
  top: -10px !important;
  @apply outline-none;
}


@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* purgecss end ignore */
