.filterList {
  @apply flex flex-wrap items-center justify-start w-full max-w-6xl py-2 pt-3 mx-auto space-x-6 space-y-1 text-indigo-900 bg-gray-100 border-b lg:px-3;
}

.clearableItem {
  @apply ml-0 mr-1 !important;
}

.clearableItem label {
  cursor: pointer;
  @apply flex items-center justify-center mb-0;
}

.deleteLabel {
  margin-left: .4em;
  font-weight: bold;
}

.filterListExplanation {
  @apply hidden mb-0 font-mono text-4xl font-bold text-left uppercase w-36 md:block;
}

@media only screen and (max-device-width:800px) {
  .filterList {
    flex-direction: column;
  }
}