.ponchoPrizesContainer {
  @apply mt-0 text-center;
}

.ponchoPrizesSubtitles {
  @apply flex flex-col px-3 py-12 mt-12 font-mono text-4xl font-bold text-gray-900 uppercase md:text-5xl ;
}

.ponchoPrizesSubtitles label {
  @apply my-2;
}

.ponchoPrizesByYear {
@apply grid max-w-6xl gap-0 mx-auto bg-gray-100 shadow-lg lg:grid-cols-4 ;
}

.loadingPonchos {
  width: 5em;
  height: 5em;
}

.ponchoPrizeInitialSubtitles {
  @apply max-w-4xl mx-auto my-24 font-serif text-2xl font-bold;
}

.ponchoStartContainer {
  display: flex;
  align-items: center;
}

.ponchoStartContainer img {
  width: 100%;
  height: auto;
  margin-top: 1em;
}

.noPrizes {
  font-size: 3em;
  margin: 1em;
}

@media only screen and (max-device-width: 700px) {
  .loadingPonchos {
    margin-top: 5em;
    margin-bottom: 7em;
  }
  .ponchoStartContainer {
    flex-direction: column;
  }
  .ponchoPrizeInitialSubtitles {
    width: 100%;
  }
  .ponchoStartContainer img {
    margin-top: 1em;
  }
}
