.adminMessagesContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminMessagesContainer button {
  width: 20%;
}

.passwordCombo {}

.adminMessagesList {
  color: #333;
  border: solid 2px white;
  padding: 1em
}

.adminMessagesList button {
  width: 40%;
}

.messagePerSe {
  display: flex;
  flex-direction: column;
}