.adminFormContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  padding-bottom: 27em;
}

.adminFormContainer div {
  padding: 1em;
}

.errorLabel {
  background-color: red;
  margin: 1em;
  padding: .5em;
}

.successLabel {
  background-color: green;
  margin: 1em;
  padding: .5em;
}