.contactForm {
  @apply flex flex-col items-center justify-center w-full max-w-2xl pt-8 mx-auto;
}

.contactForm input {
  @apply p-2 m-0 rounded;
}

.contactForm textarea {
  @apply p-2 m-0 rounded;
}

.gridRow {
  @apply grid w-full grid-cols-1 gap-3 mb-4;
}

.halfColInput {
  width: 100%;
}

.right {
}

.left {
}

.fullColInput {
  width: 100%;
}

.fullColTextarea {
  width: 100%;
}

.sendButton {
  width: 100%;
}

@media only screen and (max-device-width: 700px) {
  .gridRow {
    width: 90%;
    justify-content: space-between;
    flex-direction: row;
  }

  .halfColInput {
    width: 100%;
  }

  .right {
    margin: 0em;
    margin-top: 0.5em;
  }

  .left {
    margin: 0em;
    margin-bottom: 0.5em;
  }
}
