.ponchoPrizesFilter {
  @apply grid w-full gap-3 mx-auto md:grid-cols-3;
  @apply  max-w-6xl;
}

.ponchoPrizesFilter option {
  width: 100%;
}

.ponchoPrizesFilter select {
  @apply w-full h-auto px-2 py-3 text-sm font-bold border border-gray-300 rounded-md;
}

.ponchoPrizesFilter .form-group {
  @apply px-0;
}

.form-group {
  @apply flex items-center justify-center w-full mb-0;
}

.form-group label {
  @apply hidden w-16 mr-6 text-left;
}

.cronogramaButton.btn-success {
  display: block;
  width: 100%;
  flex: 1 1 100%;
}

.cronogramaButton.btn-danger svg path {
  @apply text-white stroke-current;
}

.datetimeFilter {
  display: flex;
}

.dateInput {
  margin-right: 0.25em;
}

.timeInput {
  margin-left: 0.25em;
}

@media only screen and (max-device-width: 800px) {
  .ponchoPrizesFilter {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }
}
