.buildingContainer {
  margin-top: 6em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.buildingContainer h1 {
  text-decoration: underline;
  font-weight: bold;
  margin-bottom: 1em;
}

.buildingContainer h2 {
  margin-bottom: 1em;
}

.buildingContainer img {
  width: 70%;
  margin-bottom: 1em;
  color: #333;
}

.linksDropdown {
  background-color: black !important;
}

@media only screen and (max-device-width: 700px) {
  .buildingContainer {
    margin-top: 4em;
  }
  .buildingContainer h1 {
    margin-bottom: .2em;
  }
  .buildingContainer img {
    width: 100%;
    margin-bottom: 1em;
  }    
}