.youtubeEmbed {
  /* width: 1120px;
  height: 630px; */
  margin-top: 2em;
  margin-bottom: 2em;
}

@media only screen and (max-device-width: 700px) {
  .youtubeEmbed {
    width: 100%;
    height: auto;
  }
}