.tutorialsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tutorialsWrapper p {
  @apply mx-auto mb-6 font-serif text-xl text-center text-white;
}

.tutorialsWrapper .nav-tabs {
  @apply justify-center;
}

.tutorialsWrapper .nav-item {
  @apply font-bold cursor-pointer;
  flex: 1;
}

.tutorialsWrapper .nav-link {
  @apply text-xl duration-100 border-none cursor-pointer;
}

.tutorialsWrapper .nav-tabs .nav-link:focus,
.tutorialsWrapper .nav-tabs .nav-link:hover {
  @apply text-indigo-500 border-indigo-500;
}

.tutorialsWrapper .nav-link.active {
  @apply text-indigo-100 bg-indigo-500 border-indigo-500 cursor-pointer;
}

.tutorialsWrapper .nav-tabs .nav-link.active:focus,
.tutorialsWrapper .nav-tabs .nav-link.active:hover {
  @apply text-white border-indigo-500;
}

.tutorialsWrapper .tab-pane {
  @apply p-6 duration-100 bg-indigo-500 border-4;
}

.tutorialsWrapper .tab-pane.active {
  @apply bg-indigo-500 border-indigo-500;
}

.heroTutorialsWrapper a {
}

.tutorialsWrapper iframe {
  width: 100%;
  height: 580px;
  margin-top: 0;
  margin-bottom: 0;
}

.tutorialCombo {
}

.tutorialLabel {
  @apply mt-12 font-mono text-6xl font-bold;
}

@media only screen and (max-device-width: 800px) {
  .tutorialsWrapper iframe {
    width: 100%;
    height: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .tutorialsWrapper p {
    width: 100%;
  }
}
