.meetingEventContainer {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.encounterContainer .meetingEventContainer h2 {
  @apply font-mono text-6xl font-bold no-underline;
}

.meetingEventContent {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.meetingEventContent label {
  text-align: left;
  @apply py-1 font-mono text-4xl font-bold uppercase border-b-2 border-gray-300;
}

@media only screen and (max-device-width: 700px) {
  .meetingEventContent {
    margin: 0em;
    margin-top: 0.5em;
  }
}
