.gameLibraryContainer {
  width: 80%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gameLibraryContainer h1 {
  text-align: center;
}

.gameLibraryDescrption {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.loadingGameLibrary {
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  margin-top: 10em;
  margin-bottom: 27em;
}

@media only screen and (max-device-width: 700px) {
  .gameLibraryDescrption {
    text-align: justify;
  }
}
