.contendantName {
  @apply flex flex-col text-2xl;
}

.ponchoWinnerInfo {
}

.ponchoWinnerTitle {
  @apply relative;
}

.ponchoWinnerTitle h2 {
}

.ponchoWinnerPicture {
  width: 100%;
}

.contendantName .lazy-load-image-background {
  @apply w-full;
}

.wonPoncho {
  text-decoration: underline;
  font-weight: bold;
}

.winnerInfo {
  @apply flex;
}

.winnerInfoTitle {
  @apply pr-2 m-0 font-bold;
}

@media only screen and (max-device-width: 700px) {
  .contendantName {
    font-size: 1em;
  }

  .ponchoWinnerInfo {
    width: 100%;
  }

  .ponchoWinnerPicture {
    width: 100%;
  }
}
