.filterForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2em;
  margin-bottom: 2em;
}

.form-group {
  width: 18%;
}

.cronogramaButton {

}

.datetimeFilter {
  display: flex;
}

.dateInput {
  margin-right: .25em;
}

.timeInput {
  margin-left: .25em;
}

@media only screen and (max-device-width:800px) {
  .filterForm {
    flex-direction: column;
  }

  .form-group {
    width: 100%;
  }
}