.allSponsorsContainer {
  padding-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  @apply pt-24;
}

.sponsorsContainer {
  padding-bottom: 1em;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.sponsorsText {}

.loadingParticipants {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 5em;
  height: 5em;
  margin-top: 15em;
  margin-bottom: 15em;  
}