.customCronogramaDayContainer {
  display: flex;
  flex-direction: column;
  @apply rounded-xl;
  @apply relative overflow-hidden border-2;
}

.dayTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s;
  @apply px-8 py-6 text-indigo-200 bg-fixed bg-indigo-100 border-b-2 border-transparent cursor-pointer ;

  
}

.dayTitleContainer:hover {
  @apply text-yellow-200 bg-yellow-100 ;
}

.dayTitleContainer.active {
  @apply text-yellow-200 bg-yellow-100 border-yellow-300;
}

.dayTitleContainer h2 {
  @apply w-full font-mono text-6xl font-bold text-left text-indigo-800 uppercase;
}

.dayTitleContainer div {
  @apply text-indigo-800;
}

.customCronogramaTypeContainer {
  @apply bg-gray-100;
}
