.columnName {
  text-align: center;
  color: #333;
}

.cronogramaTable {
  overflow: auto;
}

.eventsRow td {
  text-align: center;
}

.eventsRow th {
  width: 100px;
  color: #333;
}

.panelsCol {
  background-color: aquamarine;
  cursor: pointer;
}

.tournamentsCol {
  background-color: burlywood;
  cursor: pointer;
}

.talksCol {
  background-color: cornflowerblue;
  cursor: pointer;
}

.specialEventsCol {
  background-color: coral;
  cursor: pointer;
}

@media only screen and (max-device-width:800px) {
  .table {
    width: 90%;
  }

  .cronogramaTable {
    height: 500px;
  }
}