.sendEntryModalBody {
  display: flex;
  flex-direction: column;
}

.modal-content {

}

.uploadedImage {
  width: 100%;
}

.sendEntryButton {
  width: 100%;
  height: 75px;
}

.sendEntryCombo {
  padding-top: .5em;
  padding-bottom: .5em;
}

.sendEntryCombo textarea {
  height: 200px;
}