.nextUpContainer {
  margin-top: 10em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20em;
}

.nextUpContainer img {
  padding-top: 1em;
  width: 200px;
}

.nextUpInfo {
  /* border: solid 3px white; */
  padding: 10px;
  font-weight: bold;
  -webkit-text-stroke: 2px black; 
  font-size: 4em;
}
