.customCronogramaContainer {
  @apply grid gap-3 p-6 mx-auto max-w-7xl md:grid-cols-1;
}


.cronogramaElement {
  padding: 5px;
  border: 1px solid;
  color: #333;
  background: black;
  cursor: pointer;
}
