.joinMailListContainer {
  @apply flex flex-col items-center justify-center w-full max-w-2xl px-3 py-24 mx-auto text-gray-900;
}

.joinMailListContainer h2 {
@apply font-sans text-4xl text-center text-gray-700 uppercase ; 
}

.joinMailListContainer button {
  @apply w-full mt-3;
}

.joinMailListContainer input {
  @apply p-2 m-0 rounded;
}
