.encounterContainer {
  display: flex;
  flex-direction: column;
  @apply pt-8;
  text-align: center;
}

.introContainer {
  @apply relative flex overflow-hidden bg-white;
}

.encounterContainer .introText {
  @apply flex items-center justify-center w-full mx-auto mt-0;
  @apply  relative z-20 py-2 pt-6 font-mono text-2xl text-indigo-600 max-w-7xl ;
}

.meetingInfoTitle {
@apply font-bold text-7xl;
}

.meetingPlace {
  font-size: 2em;
}

.meetingTime {
  font-size: 1em;
}

.meetingPicture {
  margin-top: 5em;
  height: 100%;
}

.encounterContainer .meetingText {
  @apply max-w-3xl mx-auto;
  display: flex;
  flex-direction: column;
  text-align: left;
  text-justify: inter-word;
}

.meetingInfo {
  @apply mt-6 font-sans text-4xl text-gray-600;
}

