.individualImageContainer {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.individualImage {
  width: 70%;
}

.loadingSpecificImageContainer {
  display: flex;
  margin-top: 10em;
  padding-bottom: 22em;
}

.loadingSpecificImage {
  width: 10em;
  height: 10em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.individualImageContainer h1 {
  font-size: 4em;
  width: 50%;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.imageDescriptionContainer {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 2px solid;
  padding: 1em;
  text-align: justify;
  border-color: #878787;
  display: flex;
  flex-direction: column;
  width: 70%;
  border-radius: 1em;
}

.imageDescriptionSignature {
  text-align: end;
  font-size: 1.5em;
  text-decoration: underline;
}

.likesContainer {
  display: flex;
}

.likesContainer label {
  font-size: 4em;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-device-width: 700px) {
  .individualImage {
    width: 90%;
  }
  .loadingSpecificImageContainer {
    display: flex;
    margin-top: 3em;
    padding-bottom: 1em;
  }
  .individualImageContainer h1 {
    width: 100%;
  }
}