.cronogramaPage {
  /* margin-top: 5em; */
  @apply lg:pt-16;
}

.cronogramaPage a {
  
}

.cronogramaPage a img {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  @apply p-2;
}

.cronogramaPage h1 {
  @apply w-full max-w-5xl pb-3 mx-auto font-sans text-6xl text-center text-white uppercase px-9;
}

.eventContainerInfoText {

}

.genderForm a {
}

.eventContainerInfoText h6 {
  @apply w-full mx-auto font-serif text-xl text-white md:text-center ;
}

.emptyEventContainer {
  display: flex;
  @apply px-3 py-24;
  justify-content: center;
}

.emptyEvents {
  text-align: left;
}

.oldEventYearContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oldEventYearContainer em {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 2em;
  text-decoration: underline;
  font-weight: bold;
}
