.currentstreamContainer {
  padding: 1em;
}

.currentstreamContainer button {
  padding: 1em;
  border-radius: 15px;
  font-size: 2em;
  color: white;
}

.twitchButton {
  background-color: #9146ff;
}

.youtubeButton {
  background-color: #ff1a1a;
}

.loadingLive{
  width: 5em;
  height: 5em;
  margin-top: 2em;
  margin-bottom: 2em;  
}

.liveGrid {
  display: grid;
  margin-top: 1em;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-bottom: 1em;
}


@media only screen and (max-device-width: 700px) {
  .currentstreamContainer {
    width: 100%;
  }

  .liveGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}