.filterForm {
  @apply flex flex-col justify-center px-4 mx-auto my-8 space-y-3 max-w-7xl md:flex-row md:space-y-0;
}

.cronogramaFilterFormGroup {
}

.cronogramaButton {
}

.cronogramaFilterFormGroup option {
  width: 100%;
}

.cronogramaFilterFormGroup select {
  @apply w-full h-auto px-2 py-3 text-sm font-bold border border-gray-300 rounded-md;
}

.form-group {
  @apply flex items-center justify-center w-full px-2 mb-0;
}

.form-group label {
  @apply hidden w-16 mr-6 text-left;
}

.cronogramaButton.btn-success {
  display: block;
  width: 100%;
  flex: 1 1 100%;
  @apply px-0 py-3 font-bold border-none;
}

.cronogramaButton.btn-success:focus {
  @apply shadow-none ;
}

.cronogramaButton.btn-danger {
  @apply p-3 text-white border-none stroke-current;
}

.cronogramaButton.btn-danger svg path {
  @apply text-white stroke-current;
}

.datetimeFilter {
  display: flex;
}

.dateInput {
  margin-right: 0.25em;
}

.timeInput {
  margin-left: 0.25em;
}

@media only screen and (max-device-width: 800px) {
  .filterForm {
    flex-direction: column;
  }

  .cronogramaFilterFormGroup {
    width: 100% !important;
  }

  .form-group {
    width: 100%;
  }
}
