.dashboardLogo {
  width: 15em;
  /* height: 15em; */
  margin-left: auto;
  margin-right: auto;
}

.needsBackground {
  background-color: #f9f9f9;
}

@media only screen and (max-device-width: 700px) {
  .dashboardLogo {
    margin-bottom: 1em;
  }
}
