.pastEventContainer {
  margin-top: 5em;
}

.pastEventContainer h1 {
  text-align: center;
}

.goBackLink {
  display: flex;
  justify-content: flex-end;
}

.pastEventContent {
  margin-top: 3em;
  margin-bottom: 3em;
  display: flex;
}

.pastEventTextInfo {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  width: 40%;
}

.pastEventTextInfo div {
  display: flex;
  justify-content: space-between;
}

.pastEventTextInfo label {
  text-align: justify;
}

@media only screen and (max-device-width: 700px) {
  .pastEventContent {
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    margin-bottom: 0em;
  }

  .pastEventTextInfo {
    margin-top: 1em;
    width: 95%;
    margin-left: 0em;
  }
}
