.socialNetworks {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  background-color: lawngreen;
}

.socialNetworks h2 {
  text-align: center;
  color: black
}

.socialNetworks div {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  width: 100%;
}

.socialNetworks div img {
  width: 200px
}

@media only screen and (max-device-width: 700px) {
  .socialNetworks {
    background-color: #181717;
    padding-bottom: 1em;
  }
  .socialNetworks h2 {
    color: lawngreen
  }
  .socialNetworksAnchorContainer {
    display: flex !important;
    flex-direction: row !important;
  }
  .socialNetworks div img {
    width: 75px;
  }
}