.nomineesTypeContainer {
  @apply grid gap-3 md:grid-cols-4;
  @apply p-3 mx-auto max-w-7xl;
}

.ponchoPrizeCategoryContainer {
  @apply relative overflow-hidden bg-white border border-gray-200 rounded-md shadow-xl;
}

.ponchoPrizeCategoryContainer h3 {
  @apply py-3 text-2xl font-bold bg-gray-100 border-b-2 border-gray-900;
}

.ponchoPrizeCategoryContainer ul {
  @apply grid grid-cols-1 gap-2 mb-0;
}
.ponchoPrizeCategoryContainer ul li {
  @apply py-2 border-b;
}
