.card-body {
  background: black;
}

.gameInfoContainer {
  cursor: default;
}

.PartyGame {
  background-color: darkgreen;
  text-align: end;
}

.gameTypeLabel {
  color: #333;
  margin-right: 1em;
}

.gameModalContent {
  display: flex;
  flex-direction: column;
}

.labelTitle {
  font-weight: bold;
  text-decoration: underline;
  margin-right: 1em;
}

.basicGameInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  border-right: 2px solid;
}

.platformCombo {
  display: flex;
  flex-direction: row;
}

.platformCombo a {
  padding-left: .5em;
  text-decoration: underline;
}

.extraGameInfo {
  display: flex;
}

.extraGameInfo label {
  width: 50%;
  text-align: justify;
  font-size: 18px;
}

.extraGameInfoContent {
  width: 50%;
}

.titleValueCombo {
  display: flex;
  justify-content: space-between;
}

.gameImage {
  padding: 1em;
  width: 100%
}

@media only screen and (max-device-width: 700px) {
  .card-body {
    padding: 0em;
  }

  .basicGameInfo {
    flex-direction: column;
  }

  .titleValueCombo {
    flex-direction: column;
  }

  .extraGameInfo {
    flex-direction: column;
    margin: 0em;
  }

  .extraGameInfoContent {
    margin-left: 1em;
    width: 50%;
  }

  .platformCombo {
    flex-direction: column;
  }

  .extraGameInfo label {
    width: 90%;
    font-size: 18px;
    margin: 0em;
    padding-bottom: 1em;
    border-right: 0px solid;
  }
  
  .extraGameInfo div {
    width: 100%;
  }
  
  .gameImage {
    width: 90%;
    padding: 0em;
  }
}
