.individualEventContainer {
  width: 100%;
  @apply border-b border-gray-300;
}

.individualEventContainer:hover h3 {
}

.individualEventContainer:before, .individualEventContainer:after {
  position: absolute;
  display: block;
  top: 1em;
}

.individualEventContainer:before {
  left: -15em;
  color: rgba(255, 255, 255, 0.8);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  /* min-width: 9em; */
}

.individualEventContainer:after {
  left: -3em;
  background: #313534;
  border-radius: 50%;
  height: 0.75em;
  width: 0.75em;
  content: "";
}

.individualEventContainer .individualEventTitle {
  @apply flex flex-col items-start justify-start px-8 py-3 text-gray-900 md:flex-row;
}

.individualEventContainer .individualEventTitle h3 {
  @apply inline-block font-serif text-2xl font-bold duration-300 cursor-pointer;
}

.individualEventContainer .individualEventTitle h3:hover {
  @apply text-indigo-500;
}

.individualEventContainer .individualEventTitle h4 {

}

.individualEventContainer p {
  @apply w-full font-serif text-lg; 
}

.Badge {
  @apply px-3 py-1 text-sm font-bold text-white uppercase bg-gray-400 rounded;
  border-radius: 0.5em;
  border: 2px solid;
  padding: 0.4em;
  color: black;
  letter-spacing: normal;
}

.TallerBadge {
  @apply bg-yellow-500 border-yellow-500;

}

.CharlaBadge {
  @apply bg-pink-500 border-pink-500;

}

.ConversatorioBadge {
  @apply bg-green-500 border-green-500;


}

.TorneoBadge {
  @apply bg-red-500 border-red-500;

}

.RolBadge {
  @apply bg-blue-500 border-blue-500;

  
}

.EntrevistaBadge {
  @apply bg-indigo-500 border-indigo-500 ;

}

.PresentaciónBadge {
}

.individualEventContainer div {
  /* color: whitesmoke; */
  /* padding: 0; */
}

.individualEventContainer p {
  /* text-align: left; */
  padding-right: 1em;
  @apply mb-0;
}

.individualEventContainer div p span {
  margin-right: 0.3rem;
  font-weight: bold;
}

@media only screen and (max-device-width: 700px) {
  .individualEventContainer:before {
    left: -8em;
    max-width: 50px;
  }
  .individualEventContainer p {
    text-align: left;
    padding-right: 0.1em;
  }
  .individualEventContainer p label {
    max-width: 60%;
    overflow-wrap: break-word;
  }
  .individualEventContainer .individualEventTitle {
    justify-content: start;
    flex-direction: column;
    max-width: 100%;
  }
  .individualEventContainer .individualEventTitle h3 {
    overflow-wrap: break-word;
    font-size: 1em;
    margin-bottom: 10px;
  }
  .individualEventContainer .individualEventTitle h4 {
    margin: 10px;
    font-size: .8em;
    align-self: flex-start;
    margin-left: 0;
  }
  .individualEventContainer p label {
    margin-top: 25px;
  }
  .individualEventContainer p label {
    font-size: 15px;
  }
}