.encounterContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.encounterContainer h1 {
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.encounterContainer h2 {
  text-align: left;
  font-weight: bold;
  text-decoration: underline;
}

.encounterContainer button {
  width: fit-content;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.pageExplanation {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
}

.introContainer {
  display: flex;
  align-items: center;
}

.introText {
  width: 50%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meetingTitle {
  font-size: 3em;
  font-weight: bold;
  text-decoration: underline;
}

.meetingPlace {
  font-size: 2em;
}

.meetingTime {
  font-size: 1em;
}

.meetingPicture {
  height: 40em;
  margin-left: auto;
  margin-right: auto;
}

.meetingText {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  margin-right: 3em;
  margin-left: 3em;
  text-align: justify;
  text-justify: inter-word;
}

.introText {
  width: 50%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText label {
  text-align: center;
}

.introText a {
  text-align: center;
}

.basicInfoTitle {
  font-size: 3em;
  font-weight: bold;
  text-decoration: underline;
}

.basicInfoPlace {
  font-size: 2em;
}

.basicInfoTime {
  font-size: 1em;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.basicInfoLink {
  margin: 1em;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.joinModalBody {
  display: flex;
  flex-direction: column;
}

.joinModalBody a {
  margin: 1em;
  color: black;
}

.alreadyKnow {
  padding: 2em;
  background-color: greenyellow;
  border-radius: 1em;
}

.dontKnow {
  padding: 2em;
  background-color: tomato;
  border-radius: 1em;
}

@media only screen and (max-device-width: 800px) {
  .introContainer {
    display: flex;
    flex-direction: column;
  }
  /**/
  .meetingPicture {
    /* height: 40em; */
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .meetingText {
    margin-top: 1em;
    margin-right: 1.2em;
    margin-left: 1.2em;
  }
}

.linkTree {
  font-family: "Teko", sans-serif;
  /* display: flex;
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 7000;
  background: #fff; */
}

.linkTree .HomeHero {
  margin: 0 auto;
  padding: 6rem;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(39, 51, 128, 0.952);
  background-image: url(../../../images/enjm10/homeback.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linkTree .HomeHero h1 {
  text-align: center;
  font-size: 5rem;
  line-height: 6rem;
  color: #f3efd0;
  font-weight: 600;
  margin: 20px 0;
  font-family: "Amatic SC", cursive;
  position: relative;
  /* z-index: 7002; */
  margin-top: 12rem;
  display: block;
}

.linkTree .HomeHero h2 {
  text-align: center;
  font-size: 3rem;
  @apply text-white;
}

.linkTree .HomeHero h2 a {
  text-decoration: underline;
}

.linkTree .homeEnjmLogo {
  position: relative;
  z-index: 2;
  display: none;
}

.linkTree .homeEnjmLogoNoTotem {
  position: relative;
  transition: all 1s;
  transform-origin: 50% 50%;
  z-index: 2;
}

@media screen and (max-width: 800px) {
  .linkTree .homeEnjmLogo {
    display: block;
  }
  .linkTree .homeEnjmLogoNoTotem {
    display: none;
  }
}

.linkTree .homeMiscArrow {
  position: absolute;
  left: 0;
  width: 50px !important;
  bottom: -130px;
  height: auto;
  /* z-index: 7003; */
  animation: bounce 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.homeMiscInfinite {
  position: absolute;
  width: 100px !important;
  bottom: 60px;
  max-width: 100px !important;
  margin: 0 auto;
  z-index: 7003;
  animation: spin 7s linear infinite;
}

@media screen and (max-width: 800px) {
  /* .homeMiscInfinite {
    display: none;
  } */

  .linkTree .homeMiscArrow {
    right: 0;
    width: 50px !important;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.linkTree .socialButtonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem 14rem;
  width: 100%;
  position: relative;
  /* z-index: 7000; */
}

.linkTree .HomeHero img {
  width: 100%;
  max-width: 600px;
}

.linkTree .HomeHero .homeEnjmTablero {
  width: 100%;
  max-width: 450px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: all 1s;
  width: 100%;
  transform: rotate(-2deg) translateY(120px) translateX(80px);
  box-shadow: 0 25px 50px -12px rgb(99 100 96);
}

.linkTree .homeEnjmLogoContainer {
  position: relative;
  /* z-index: 7001; */
  @apply px-12 md:px-0;
}

.linkTree .homeEnjmLogoContainer:hover .homeEnjmTablero {
  transform: rotate(3deg) translateY(100px) translateX(86px);
  box-shadow: 0 25px 50px -12px rgb(186 178 112);
}

.linkTree .homeEnjmLogoContainer:hover  .homeEnjmLogoNoTotem {
  transform: rotate(-3deg) translateY(5px) translateX(-16px);
}

@media screen and (max-width: 800px) {
  .linkTree {
    flex-direction: column;
  }

  .linkTree .HomeHero {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0;
    padding-bottom: 6rem;
  }

  .linkTree .socialButtonsContainer {
    width: 100%;
    position: relative;
    z-index: 7000;
  }

  .linkTree .HomeHero img {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .linkTree .HomeHero .homeEnjmTablero {
    width: 100%;
    max-width: 450px;
    position: relative;
    z-index: 1;
    transition: all 1s;
    width: 100%;
    transform: rotate(-5deg) translateY(0) translateX(0);
  }

  .linkTree .homeEnjmLogoContainer:hover .homeEnjmTablero {
    transform: rotate(-5deg) translateY(0) translateX(0);
  }
}

.linkTree h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 400;
  margin: 0;
  color: #062f6f;
  line-height: 2.3rem;
}

.socialButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .linkTree .socialButtons {
    flex-direction: column;
  }
}

.socialButtons .socialButtonsIcon {
  width: 3rem;
  height: 3rem;
  font-size: 1rem;
}

.linkTree .btn-form {
  margin: 0.75rem;
  padding: 1rem 1.3rem;
  background-color: #e6e7f0;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: #3a4895;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  max-width: 350px;
  flex-direction: column;
}


.linkTree .btn-form:hover {
  transition: all 0.3s;
  background-color: #3a4895;
  color: #fff;
  transform: translate(0, 3px);
}


.linkTree .socialButtons a {
  margin: 0.75rem;
  padding: 1.3rem 1rem 1.3rem;
  background-color: #e6e7f0;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 250px;
  flex-direction: column;
}

.linkTree .socialButtons a span {
  position: relative;
  /* top: 3px;
  left: 5px; */
  color: #062f6f;
}


.linkTree .socialButtons a:hover {
  transition: all 0.3s;
  background-color: #d3d7f1;
  transform: translate(0, 3px);
}

.linkTree .socialButtons a:hover span {
  transition: all 0.3s;
  transform: translate(0, 3px);
}

.linkTree .socialButtons a:hover .socialButtonsIcon path {
 opacity: .5;
}

/* body.HomePage #main-footer,
body.HomePage .bm-overlay + div,
body.HomePage .headroom-wrapper {
@apply hidden;
} */

/* 
.YoutubeGrid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0;
}

.YoutubeGrid div {
  font-family: "Teko", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  min-height: 70vh;
  border: 1px solid #fff;
} */

@import url("https://unpkg.com/pattern.css");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

.logo-item-1 {
  fill: #7480ba;
}

.logo-item-1,
.logo-item-4,
.logo-item-5,
.logo-item-6 {
  fill-rule: evenodd;
}

.logo-item-4 {
  fill: #fff;
}

.logo-item-5 {
  fill: #062f6f;
}

.logo-item-6 {
  fill: #3a4895;
}

.pattern-grid-xl {
  background-color: #d9dcf1;
  color: #949ac2;
  /* fill: #c0c1cc; */
  background-attachment: fixed;

}

.homeEnjmSlogan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeEnjmSlogan h3 {
  font-size: 3rem;
  text-align: center;
}
