.modal-open .modal.show {
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 1;
  visibility: visible;
  z-index: 1050;
  pointer-events: auto;
}

.modal {
  pointer-events: auto !important;
  visibility: visible !important;
  transition: opacity 0.15s linear;
}

.modal-dialog {
  max-width: 900px;
}

.modal-header {
  text-transform: uppercase;
  @apply relative py-10 bg-gray-100;
}

.modal-header .close {
@apply absolute top-0 right-0 p-8;
}

.modal-header label {
  /* background-color: blue; */
}

.cronogramaModalHeader {
  background-color: white !important;
}

.TallerModalHeader {
  @apply text-white bg-yellow-500 border-yellow-500;
}

.CharlaModalHeader {
  @apply text-white bg-pink-500 border-pink-500;
}

.ConversatorioModalHeader {
  @apply text-white bg-green-500 border-green-500;
}

.TorneoModalHeader {
  background-color: red !important;
  color: black;
}

.RolModalHeader {
  background-color: slateblue !important;
  color: black;
}

.EntrevistaModalHeader {
  @apply text-white bg-indigo-500 border-indigo-500;
}

.PresentaciónModalHeader {
}

.eventParticipants {
  font-size: 1.3em;
  text-decoration: underline;
}
/* 
.modal-backdrop {
  z-index: 0;
} */

.modal-body label {
  display: flex;
  flex-direction: column;
}

.eventBasicInfo {
  @apply flex flex-col w-full;
}

.eventBasicInfo a {
}

.inscriptionLinkContainer {
  color: lawngreen;
}

.eventBasicInfo label {
  padding: 0.4em 0;
  margin: 0.1em 0;
}

.event {
  text-align: end !important;
  text-transform: uppercase;
  margin-right: 1em;
  color: black;
}

.panels {
  background-color: aquamarine;
}

.tournaments {
  background-color: burlywood;
}

.talks {
  background-color: cornflowerblue;
}

.specialEvents {
  background-color: coral;
}

.inscriptionForm {
  width: 100%;
  height: 400px;
}

@media only screen and (max-device-width: 700px) {
  .eventBasicInfo a {
    border: solid 1px white;
  }
  .eventBasicInfo label {
    border: solid 1px white;
  }
}
