.commentsContainer {
  width: 70%;
}

.commentsContainer h3 {
  color: #333;
}

.commentsBundle {
  display: flex;
  flex-direction: column;
}

.comment {
  margin-top: 1em;
  border: 2px solid;
  padding: 1em;
  border-color: #878787;
  display: flex;
  flex-direction: column;
}

.newComment {
  margin-top: 1em;
}

.submitNewComment {
  margin-top: 1em;
}

@media only screen and (max-device-width: 700px) {
  .newComment {
    height: 10em !important;
  }
}
