.publicityBanner {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2em;
  margin-top: 1em;
}

.publicityBanner button {
  font-size: 2em;
  font-weight: bolder;
  height: max-content;
  margin-top: auto;
  margin-bottom: auto;
}
