.about {
}

.about .hero {
  background-image: url(../../../images/enjm10/homeback.jpg);
  @apply bg-fixed;
}

.about .prose ul > li:before {
  @apply bg-indigo-400;
}

.about .prose h3 {
  @apply font-mono text-6xl font-bold;
}

.about .prose .lazy-load-image-background {
  @apply relative w-full rounded-md;
}
/*
.about .prose .background-image {
  background-image: url("../../../images/enjm10/enjm10-tablero.jpg");
  @apply my-24 bg-fixed bg-no-repeat bg-cover;
}
*/

.about .prose p,
.about .prose h1,
.about .prose h2,
.about .prose h3,
.about .prose h4,
.about .prose h5,
.about .prose h6,
.about .prose ul,
.about .prose ol {
  @apply max-w-4xl mx-auto;
}
