.specificGalleryContainer {
  text-align: center;
  padding-bottom: 3em;
}

.emptySpecificGalleryContainer {
  text-align: center;
  padding-bottom: 3em;
  @apply pt-12 mx-auto mt-20 max-w-7xl;
}

.emptySpecificGalleryContainer h3 {
  @apply my-8 font-serif text-3xl leading-9;
}

.specificGalleryContainer h3 {
  @apply my-8 font-serif text-3xl leading-9;
}

.emptySpecificGalleryContainer h3 a {
  @apply text-indigo-500;
}

.specificGalleryContainer h3 a {
  @apply text-indigo-500;
}

.noEntriesText {
  font-size: 1.2em;
}

.specificGalleryImages {
  @apply grid gap-3 md:grid-cols-4;
}

.specificGalleryImages a {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
}

.specificGalleryImages a img {
  width: 100%;
  height: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.specificGalleryDisplayButton {
  margin: 1em;
}

@media only screen and (max-device-width: 700px) {
  .specificGalleryImages {
    grid-template-columns: repeat(1, 1fr);
  }
  .specificGalleryContainer {
    padding-bottom: 1em;
  }
  .noEntriesText {
    padding-left: 1em;
    padding-right: 1em;
  }
  .emptySpecificGalleryContainer h3 {
    width: 100%;
  }
  .specificGalleryContainer h3 {
    width: 100%;
  }
}
