.formContainer {
  @apply  flex flex-col items-center justify-center max-w-3xl p-4 px-3 pb-12 mx-auto;
}

.formContainer button,
.joinMailListContainer button {
}

.formContainer h2 {
  @apply px-6 font-sans text-4xl text-center text-indigo-700 uppercase; 
}

@media only screen and (max-device-width: 700px) {
  .formContainer {
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
  }

  .formContainer h2 {
    width: 100%;
  }
}