.discountainer div {
  display: flex;
  flex-direction: column;
}

.discountainer div input {
  border-color: black;
  border-width: 2px;
}

.dayContainer {
  display: flex;
  flex-direction: row !important;
  border-color: black;
  border-width: 1px;
}

.AAAAAAAA {
  width: fit-content;
  padding: .5em;
}
