/* #3a4893, #ffffff */

.blueBackground {
  background-color: #3a4893;
  color: #ffffff;
}

.whiteBackground {
  background-color: #ffffff;
  color: #3a4893;
}

.sede {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.sede h2 {
  font-size: 4em;
}

.sede h3 {
  font-size: 1.4em;
  text-decoration: underline;
}

.sede label {
  font-size: 1.2em;
}

.sede a {
  font-size: 1.2em;
  background-color: white;
  padding: .3em;
  border-radius: 5px;
  width: max-content;
}

.sede li {
  font-size: 1.2em;
}