.gameContainer {
  padding: 5px;
  border: 1px solid;
  margin: 2px;
  color: #333;
  background: black;
  cursor: pointer;
}

.gameRow {
  display: flex;
  justify-content: space-between;
  margin: .5em;
}

.gameRow img {
  width: 50px;
  height: 50px;
}

.hideGameInfo {
  visibility: hidden;
}

@media only screen and (max-device-width: 700px) {
  .gameRow {
    flex-direction: column;
    align-items: center;
  }

  .gameRow label {
    text-align: center;
    width: 100%;    
  }
}
