.gameFilterForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2em;
  margin-bottom: 2em;
}

.gamesFilterFormGroup {
  width: 24% !important;
}

.gameDatetimeFilter {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.gameDatetimeFilter input {
  display: flex;
  width: 50%;
  margin: .1em;
}


@media only screen and (max-device-width:800px) {
  .gameFilterForm {
    flex-direction: column;
  }

  .gamesFilterFormGroup {
    width: 100% !important;
  }
}