.headerTab {
  margin-top: .3em;
  cursor: pointer;
}

.headerTab a {
  color: lawngreen;
}

.headerTab a:hover {
  text-decoration: none;
}

.unselectedTab {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: .3rem;
  transition: border-color .5s;
}

.selectedTab {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: .3rem;
  border-color: lawngreen;
  font-weight: bold;
}

.unselectedTab:hover {
  text-decoration: none;
  text-decoration-color: transparent;
  border-color: lawngreen;
}

.tabs {
  display: flex;
  background-color: black !important;
  width: 100%;
  justify-content: space-around;
}

.dropdown-menu {
  background-color: black !important;
}

.container {
  max-width: 10000px;
  margin-top: 12em !important;
  margin: auto;
  overflow: hidden;
  padding: 0em 1.5em;
}

@media only screen and (max-device-width: 700px) {
  .container {
    max-width: 700px;
    margin: auto;
    margin-top: 10em !important;
    overflow: hidden;
    padding: 0em 1.5em;
  }
  .tabs {
    flex-direction: column;
    margin-top: -.7em;
    margin-bottom: -.5em;
  }
  .selectedTab {
    display: none;
  }
  .dropdown-menu {
    border-width: 1px;
    text-align: center;
    cursor: pointer;
  }
  .unselectedTab {
    margin-left: -2.5em;
    border-bottom: 0px transparent solid;
    padding-bottom: 0rem;
    border-color: black;
    border-width: 1px;
  }
  .unselectedTab:hover {
    border-color: black;
    border-width: 1px;
  }
}