.galleryWinnersSegmenContainer {
  margin-top: 2em;
  @apply pb-12;
}

.galleryWinnersContainer {
  @apply grid gap-2 md:grid-cols-3;
  @apply pt-6;
}

.galleryWinnersContainer .galleryWinnersItem {
  @apply relative overflow-hidden bg-indigo-100 border border-gray-200 rounded-md shadow-lg;
}

.galleryWinnersItemImage {
  @apply relative overflow-hidden duration-300 cursor-pointer hover:opacity-80;
  max-height: 400px;
}

.galleryWinnersItemImage .lazy-load-image-background {
  @apply aspect-w-9 aspect-h-9;
}


.galleryWinnersItemImage img {
}

.galleryWinnersItemMeta {
  @apply absolute bottom-0 left-0 right-0 z-10 bg-indigo-100;
}

.galleryWinnersContainer div img {
}

.galleryWinnersContainer div h3 {
  @apply my-2 font-mono text-4xl font-bold uppercase;
}

.galleryWinnersContainer div p {
  @apply mb-3 font-serif font-bold;
}
