.publisherContainer {
  /* width: 50%; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #333;
  text-align: center
}

.publisherContainer h1 {
  margin-bottom: -4em;
}

.publisherContainer button {
  margin-bottom: -10em;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.emptyPublishersPage {
  margin-bottom: 1em !important;
}

@media only screen and (max-device-width: 700px) {
  .publisherContainer {
    width: 100%;
  }
}