.contactMail {
  @apply flex flex-col items-center justify-center pt-12;
}

.contactMail h1 {
  @apply font-mono text-6xl font-bold text-indigo-700 md:text-9xl;
}

.contactMail label {
  @apply p-2 px-5 mt-6 mb-12 font-serif font-bold text-indigo-500 bg-white rounded-full md:text-2xl cursor-text;
  @apply max-w-xl text-center duration-300 hover:bg-indigo-300 hover:text-white;
  
}

.contactMail label::selection {
  @apply text-white bg-indigo-500 rounded-full;
}

@media only screen and (max-device-width: 700px) {
  .contactMail {
    padding-top: 2em;
    padding-bottom: 2em;
    width: 100%;
    height: 40%;
  }
}