.entryDropzone {
  cursor: pointer;
  padding: 2em;
  text-align: center;
  transition: background-color .5s;
}

.pickPicture {
  background-color: #005d2d;
}

.replacePicture {
  background-color: #5d0000
}
