.dashboard {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
}

.dashboard label {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.lonelyDashboard {
  margin-top: 5em;
}

.logosGrid {
  margin-top: 1em;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}

.logosGrid a {
  @apply flex items-center justify-center bg-white;
}

.emptyGrid {
  padding-bottom: 22em;
}
@media only screen and (min-device-width: 701px) {
  .logosGrid {
    display: grid;
  }
}

@media only screen and (max-device-width: 700px) {
  .dashboard {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logosGrid {
    margin-top: 0em;
    grid-template-columns: repeat(1, 0fr);
    justify-content: center;
  }
  .emptyGrid {
    padding-bottom: 0em;
  }
}