.image-gallery-image {
  width: 100% !important;
  object-fit: inherit !important;
  /* @apply w-full max-w-xl mx-auto mb-6; */
}

.image-gallery {
  /* margin-top: -10em; */
  @apply w-full;
}

.image-gallery-slide-wrapper {
  @apply min-h-screen;

}

.image-gallery-swipe {
  @apply flex items-center justify-center min-h-screen;
}

.image-gallery-thumbnails-wrapper {
  display: none !important;
}

.image-gallery-thumbnail-image {
  width: 100px;
  height: 100px;
}

@media only screen and (max-device-width: 700px) {
  /* .image-gallery {
    margin-top: -10em;
  } */

  .image-gallery-image {
    width: 80% !important;
  }
}