.rightNowHomeStreamContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rightNowHomeEmptyStreamContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

.rightNowHomeButtons {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.rightNowHomeButtons button {
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
}

.rightNowHomeButtons a {
  margin-bottom: 1em;
  margin-right: 1em;
  width: 100%;
}

@media only screen and (max-device-width: 700px) {
  .rightNowHomeStreamContainer {
    flex-direction: column;
  }
  .rightNowHomeButtons {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}