.genderFormContainer {
  display: flex;
  margin-top: 1em;
  margin-bottom: 2em;
}

.genderFormContainer h3 {
  width: 50%;
  text-align: center;
  color: #333;
  margin-top: auto;
  margin-bottom: auto;
}

.genderFormContainer iframe {
  width: 50%;
  height: 30em;
}

@media only screen and (max-device-width: 700px) {
  .genderFormContainer {
    flex-direction: column;
  }
  .genderFormContainer {
    margin-bottom: -8em;
  }
  .genderFormContainer h3 {
    width: 100%;
  }
  
  .genderFormContainer iframe {
    margin-top: 1em;
    width: 100%;
  }
}