.introText {
  width: 50%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText label {
  text-align: center;
}

.introText a {
  text-align: center;
}

.basicInfoTitle {
  font-size: 3em;
  font-weight: bold;
  text-decoration: underline;
}

.basicInfoPlace {
  font-size: 2em;
}

.basicInfoTime {
  font-size: 1em;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}

.basicInfoLink {
  margin: 1em;
}

.modal-title {
  text-align: center;
  width: 100%;
}

.joinModalBody {
  display: flex;
  flex-direction: column;
}

.joinModalBody a {
  margin: 1em;
  color: black;
}

.alreadyKnow {
  background-color:greenyellow;
}

.dontKnow {
  background-color: tomato
}

@media only screen and (max-device-width: 800px) {
  .introText {
    width: 100% !important;
  }

  .linksContainer {
    margin-top: 1em;
  }
}