@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply min-h-screen text-gray-900 bg-white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::selection {
  @apply text-white bg-indigo-500;
}

*::-webkit-scrollbar-track {
  @apply bg-indigo-300;
}

*::-webkit-scrollbar-thumb {
  @apply bg-gray-800 bg-gradient-to-br from-indigo-600 to-indigo-600;
}

.darkMode {
  background-color: #111;
  font-family: aperture !important;
  /* enjm chikito */
  /* background-image: url("https://i.imgur.com/qrr0VYY.png"); */
  /* 9 chikito */
  /* background-image: url("https://i.imgur.com/5lo6jGM.png") */
}

.darkMode label {
  color: #333;
}

.darkMode h1 {
  color: #333;
}

.darkMode h2 {
  color: #333;
}

.btn-success {
  @apply bg-green-500;
}

.btn-success.focus,
.btn-success:focus {
  @apply bg-green-600;
  @apply shadow-none outline-none;
  box-shadow: none;
}

.btn-success.hover,
.btn-success:hover {
  @apply bg-green-600;
  @apply text-white !important;
}

.btn-info.focus,
.btn-info:focus {
  box-shadow: none;
}

.btn-info.hover,
.btn-info:hover {
  @apply text-white !important;
}

.btn {
  @apply inline-block px-4 py-3 text-sm font-semibold text-center text-white uppercase transition duration-200 ease-in-out rounded-md cursor-pointer hover:opacity-90 ;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}