.ponchoPrizeYear {
@apply sticky top-0 z-50 px-3 py-4 mb-0 font-mono text-5xl font-bold text-center text-indigo-500 bg-white bg-opacity-95;
@apply  border-b border-gray-300;
}

.ponchoPrizeCard {
  @apply w-full p-3 border-l border-r border-gray-300;
}

.ponchoPrizeYearContainer {
  @apply grid max-w-5xl grid-cols-1 gap-0 pb-12 mx-auto;
}
