.shopsContainer {
  text-align: center;
  margin-top: 5em;
}

.shopsContainer h2 {
  font-size: 3em;
}

.shopDashboard {
  margin-top: 3em;
}

.shopDashboard label {
  width: 50%;
}

.shopDashboard div {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-device-width: 700px) {
  .shopDashboard label {
    width: 90%;
  }
}