.galleriesContainer {
  @apply w-full max-w-full px-0 pt-0 pb-12 text-center;
}

.emptyGalleriesContainer {
  @apply pt-40;
  text-align: center;
  padding-bottom: 12em;
}

.galleriesContainer h1 {
  text-decoration: underline;
  font-weight: bold;
}

.galleriesAdditionalInfo {
  display: flex;
  flex-direction: column;
}

.galleriesCategories {
  display: flex;
  flex-direction: column;
  @apply w-full max-w-3xl mx-auto;
}

.heroTutorialsWrapper h3 {
  @apply text-left md:text-center;
}

.heroTutorialsWrapper .eventContainerInfoText {
  @apply text-left md:text-center;
}

.galleriesCategories label {
}

.loadingGallery {
  width: 10em;
  height: 10em;
  margin-top: 10em;
  margin-left: auto;
  margin-right: auto;
}

.galleriesCategoriesContainer {
  @apply grid gap-3 sm:grid-cols-3 ;
}

.gridAtTwo {
  grid-column-start: 2;
}

.centerGrid {
  margin-right: auto;
  margin-left: auto;
}

.gridAtThree {
  grid-column-start: 3;
}

.galleriesCategoryButton {
  width: 100%;
}

@media only screen and (max-device-width: 700px) {
  .galleriesCategoriesContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .loadingGallery {
    width: 10em;
    height: 10em;
    margin-top: 10em;
    margin-bottom: 27em;
  }
}
