.header-logo {
  z-index: 6000;
}

#header a.active {
  @apply text-indigo-500 border-indigo-700 ;
}
#header a {
  @apply flex items-center justify-center h-full px-5 pt-1 my-0 font-sans text-lg text-gray-900 uppercase duration-300 border-b-4 border-gray-200 cursor-pointer hover:no-underline 2xl:text-2xl hover:text-indigo-800;
}

.fixedHeader {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.notFixedHeader {
  margin-left: -1.5em;
  width: 105%;
}

.safariTabs {
  margin-top: 0.5em;
  background-color: black;
  width: 100%;
  margin-left: -1.5em;
  width: 105%;
}

.safariTabs ul {
  margin-left: 2em;
  list-style: none;
}

.safariTabs ul li {
  margin-bottom: 1em;
}

.navbar-fixed-top {
  height: 4em;
  background-color: black;
  display: flex;
}

.navbar-fixed-top ul {
  list-style: none;
}

.navbar-fixed-top ul li {
  padding: 1rem 1.5rem;
}

.logo {
  height: 85%;
  padding-right: 2em;
}

.logo img {
  margin: 0.7em;
}

.headerContainer {
  max-width: 10000px;
  margin: auto;
  overflow: hidden;
  padding: 0em 1.5em;
}

.mobileHeader {
  display: flex;
  flex-direction: column;
}

.mobileHeader img {
  padding: 0.5em;
  padding-bottom: 0;
  width: 100%;
}

.mobileHeader div {
  width: 100%;
  display: flex;
  height: 6em;
}

.mobileHeader div a {
  width: 100%;
}

.desktopHeader {
  width: 100%;
}

.desktopHeader a {
  width: 100%;
}

.desktopHeader a img {
  width: 100%;
}

@media only screen and (max-device-width: 700px) {
  .navbar-fixed-top {
    justify-content: space-between;
    height: 10em;
  }
  .dropdown-toggle {
    height: 60%;
    margin: 1em;
  }
  .notFixedHeader {
    width: 115%;
  }
  .safariTabs {
    width: 115%;
  }
}
