.headroom a:hover span {
  opacity: 1;
}

.headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  position: fixed !important;
  @apply overflow-hidden duration-300 border-b border-indigo-500 shadow;
}

.logoLegend {
  @apply pl-5 duration-300;
}

header div {
  @apply h-16 duration-300;
}

.header-logo img {
  @apply w-12 h-12 duration-300;
}

.headroom--unpinned {
  position: fixed;
}
/*
.headroom--scrolled .logoLegend {
  @apply opacity-0;
}
*/

.headroom--scrolled header div {
  @apply h-16;
}

/*
.headroom--unpinned .logoLegend {
  @apply opacity-0;
}
*/

.headroom--unpinned header div {
}

.headroom--unpinned {
  background: transparent !important;
}

@screen lg {
  
  .headroom--unpinned .header-logo img {
    @apply w-12 h-12;
  }
  

  .headroom--scrolled .header-logo img {
    @apply w-12 h-12;
  }
}

.headroom--pinned {
  position: fixed;
  @apply bg-opacity-90;
  /* transform: translateY(0%); */
}
